@font-face {
    font-family: 'suisseintl-bold';
    src: url(../assets/fonts/suisseintl-bold.ttf);
}

@font-face {
    font-family: 'suisseintl-light';
    src: url(../assets/fonts/suisseintl-light.ttf);
}

@font-face {
    font-family: 'suisseintl-medium';
    src: url(../assets/fonts/suisseintl-medium.ttf);
}

@font-face {
    font-family: 'suisseintl-regular';
    src: url(../assets/fonts/suisseintl-regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#main nav{ 
    display: flex;
    justify-content: space-between;
    padding: 25px 270px;
    align-items: center;
}

#logo{
    height: 23px;
}

#right-nav h1{
    font-family: 'suisseintl-light';
    font-size: 20px; 
}

#right-nav{
    display: flex;
    gap: 40px;
}


#herohead1 h1{
    font-family: 'suisseintl-medium';
    font-weight: 100;
    font-size: 4.8vw;
    line-height: 90px;
    text-align: center;

}

#herohead2 h1{
    font-family: 'suisseintl-medium';
    font-weight: 100;
    font-size: 4.8vw;
    line-height: 90px;
    text-align: center;
    
}

#herohead1{
    padding-bottom: 100px; 
}

#herohead1{
    overflow: hidden;
    height: 90px;

    
}
.heroanime span {
  display: inline-block;
}

#herohead2{
    overflow: hidden;
    height: 90px;

    
}

#heropara1{
    overflow: hidden;
 
     padding-top: 25px;
}

#heropara2{
    overflow: hidden;
 
}

#heroheadcover{
    padding-top: 130px;
}

.heroanimepara span{
    display: inline-block;
}

.page1 h2{
    font-family: 'suisseintl-regular';
    font-size: 1.2vw;
    text-align: center;
   font-weight: 100;
   
    letter-spacing: 1px;
}

.video{
    height: 750px;
    width: 70vw;
    background: #000;
    margin-top: 100px;
    border-radius: 30px;
    overflow: hidden;
}

#part1{ 

    padding: 0 300px;
    padding-bottom: 100px;
}

.video2{
    background: #000;
    height: 450px;
    width: 1500px;
    overflow: hidden;
}

.third{
    height: 100%;
    width: 100%;
    padding: 200px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

}

.third p{
    font-family: 'suisseintl-regular';
    font-size: 25px;
}

.right-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#aboutusbtn{
    height: 100px;
    width: 250px;
    font-family: 'suisseintl-regular';
    font-size: 25px;
    border-radius: 50px;
    background: white;
    border: 2px solid black;
    overflow: hidden;
}

#aboutbtntop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#aboutbtnbot{
    height: 150%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: white;
    border-radius: 80px;
}
.part2{
    height: 100%;
    width: 100%;
    background: #161616;
    border-radius: 50px;
    
}

.container{
    padding: 200px 400px;
}

.part2 h1{

    font-family: 'suisseintl-bold';
    color: white;
    font-size: 4vw;
}

.card{
    height: 700px;
    width: 500px;
    background: yellow;
    border-radius: 30px; 
    overflow: hidden;
}

.servicecard{
    height: 700px;
    width: 500px;
    background: yellow;
    border-radius: 30px; 
    overflow: hidden;
}

.cardcontainer{
    display: flex;
    gap: 150px;
}

.cardsleft{
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 100px 0;
    
}

.cardsright{
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 400px 0;
}

.cardcontainer h1{
    font-size: 1.5vw;
    font-family: 'suisseintl-medium';
    margin-top: 40px;
    margin-left: 6px;
}

.projectbtn{
    
    height: 100px;
    width: 300px;
    font-family: 'suisseintl-regular';
    font-size: 25px;
    border-radius: 50px;
    background: transparent;
    text-wrap: nowrap;
    transform: translateX(400px);
    color: white;
    border: 2px solid white;
    overflow: hidden;
}

#projectbtn1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectbtn2{
    height: 150%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 80px;
}

#servicesbtn{   
    
    height: 85px;
    width: 300px;
    font-family: 'suisseintl-regular';
    font-size: 25px;
    border-radius: 50px;
    background: white;
    text-wrap: nowrap;
    position: absolute;
    transform: translate(800px, -300px);
    border: 2px solid black;
    overflow: hidden;
}

.servicebtntop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicebtnbot{
    height: 150%;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: rgb(255, 255, 255);
    border-radius: 80px;
}

.part3{
    border-radius: 50px;
    background: white;
    width: 100%;



}

.container3{
    padding: 100px 400px;
    display: flex;
    gap: 150px;
}

#services{
    font-size: 4.5vw;
    text-wrap: nowrap;
    font-weight: 100;
    font-family: 'suisseintl-medium';
    color: #000;

}


#para{
    font-family: 'suisseintl-regular';
    font-size: 25px;

}

.cardsleft2{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
    
}

.container3 h1{
   color: #000;
    font-size: 2.5vw;
    font-family: 'suisseintl-medium';
    font-weight: 100;

    margin-top: 40px;

}

.container3 p{
    color: #000;
    font-size: 1.2vw;
    font-family: 'suisseintl-medium';
    font-weight: 100;
    margin-top: 10px;
}



.blog{
    background: #000;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    padding: 200px 400px;
    position: relative;

}

.blogbtn{
    height: 10px;
    width: 10px;
}

.blogleft{
    background: white;
    height: 270px;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;
    
}

.blogcontainer{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.blogcontainer h1{
    font-size: 2vw;
    font-weight: 100;
    font-family: 'suisseintl-medium';
    margin-top: 25px;
}

#blogbtn{
    height: 85px;
    width: fit-content;
    font-family: 'suisseintl-regular';
    font-size: 25px;
    border-radius: 50px;
    background: transparent;
    text-wrap: nowrap;
    padding: 0 50px;
    margin-left: 450px;
    margin-top: 100px;
    color: white;
    border: 1px solid white;
}

.blogcontainer h2{
    color: white;
    border: white solid 1px;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.blogright{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0;
}

.blogright p{
    color: rgb(117, 117, 117);
    font-family: 'suisseintl-medium';

}

#bloghead{
    font-size: 5vw;
    font-weight: 100;
    font-family: 'suisseintl-medium';
    margin-bottom: 100px;
}

.videocontainer{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
    
}

.lastvideo{
    height: 900px;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

.part4{
    height: 100%;
    width: 100%;
    background: #000;
}

.textabovevideo{
    position: absolute;
    top: 30%;
    left: 35%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.textabovevideo button{
    font-size: 5vw;
    font-family: 'suisseintl-light';
    background: transparent;
    border: 1px solid white;
    padding: 0px 80px; 
    border-radius: 150px;
    color: white;
}

.textabovevideo h1{
    font-size: 6vw;
    font-family: 'suisseintl-light';
    font-weight: 100;
    line-height: 100px;
    text-align: center;
}

.footer{
    padding: 150px 250px;
    display: flex;
    flex-direction: column;
    gap: 80px;

}

.footerup{
    display: flex;
    justify-content: space-between;
}

.footerdown{
    display: flex;
    justify-content: space-between;
}

.icon{
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

.footer button{
    font-size: 1.4vw;
    font-family: 'suisseintl-light';
    background: transparent;
    border: 1px solid white;
    padding: 0px 25px; 
    border-radius: 150px;
    color: white;
}

.footerupleft{
    display: flex;
    
}

.footerupright{
    display: flex;
    gap: 50px;
}

.footerdownleft{
    display: flex;
    gap: 20px;

}

.footerdownright{
    display: flex;
    gap: 20px;

}

.footerupright h1{
    font-size: 1.3vw;
    font-family: 'suisseintl-light';
    font-weight: 100;
    text-align: end;
}

.nava{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navb{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerupleft h1{
    font-size: 1vw;
    font-family: 'suisseintl-light';
    font-weight: 100;
}

.email{
    padding-right: 50px;
    line-height: 25px;

}

.email h1{
    margin-top: 30px;
}

.number{
    padding-right: 50px;
    line-height: 25px;

}

.number h1{
    margin-top: 30px;
}

.footerdownleft h1{
    font-size: 1vw;
    font-family: 'suisseintl-light';
    font-weight: 100;
}

.lastvideo video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blogimg{
    overflow: hidden;
}
.blogimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cursor{
    height: 10px;
    width: 10px;
    background: #000;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;


}

#play{
    height: 25%;
    width: 25%;
    object-fit: contain;

    
}


.hanime-div{
    width: 100px;
    height: 34px;
    text-align: center;
    overflow: hidden;

}

.hanime-div .h2{
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.hanime-h2{
    position: relative;
    z-index: 2;
}

.cursor-text{
    font-size: 2px;
    font-family: 'suisseintl-regular';
    letter-spacing: 0.3px;
    font-weight: 100; 
    padding: 2px 4px;
} 

